:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #212529;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  font-weight: 500;
  color: #40E0D0;
  text-decoration: none;
}

a:hover {
  color: #00CED1;
  text-decoration: underline;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #FF7F50;
  color: white;
  cursor: pointer;
  transition: all 0.25s;
}

button:hover {
  background-color: #FFA07A;
}

button:focus,
button:focus-visible {
  outline: 2px solid #40E0D0;
  outline-offset: 2px;
}
